<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ocean.quotes-app</string>

    <key>ProgramArguments</key>
    <array>
        <string>__START_SH__</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>__LOG_OUT__</string>

    <key>StandardErrorPath</key>
    <string>__LOG_ERR__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>QUOTES_PORT</key>
        <string>__PORT__</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
        <key>LC_ALL</key>
        <string>en_US.UTF-8</string>
    </dict>
</dict>
</plist>
